Repository jenskeiner/ghcr-cleanup-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, bundle

format:
  name: Run formatter.
  entry: npm run format:write
  language: system
  require_serial: true

lint:
  name: Run linter.
  entry: npm run lint
  language: system
  require_serial: true

bundle:
  name: Transpile TS sources.
  entry: npm run bundle
  language: system
  require_serial: true

Partially re-enable code parts.
  src/ci-tester.ts
Due: format, lint, bundle

Fix TS transpiling hook.
  .pre-commit-config.yaml
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/ci-tester.ts
Due: format, lint, bundle

Enable image loading in priming step.
  citester/index.js
  citester/index.js.map
  src/ci-tester.ts
Due: format, lint, bundle

Enable deletion step for priming.
  citester/index.js
  citester/index.js.map
  src/ci-tester.ts
Due: format, lint, bundle

Pass correct argument.
  citester/index.js
  citester/index.js.map
  src/ci-tester.ts
Due: format, lint, bundle

Copy images by tag and delete one multi-arch manifest list image.
  tests/no_arguments/prime
  tests/no_arguments/prime-delete
Due: none

Debugging.
  citester/index.js
  citester/index.js.map
  src/ci-tester.ts
Due: format, lint, bundle

Fix prime images.
  tests/no_arguments/prime
Due: none

Fix prime-delete file parsing.
  citester/index.js
  citester/index.js.map
  src/ci-tester.ts
Due: format, lint, bundle

Complete refactoring of priming and validation steps.
  citester/index.js
  citester/index.js.map
  src/ci-tester.ts
  tests/no_arguments/expected-digests
  tests/no_arguments/expected-tags
Due: format, lint, bundle

Re-add missing colon.
  citester/index.js
  citester/index.js.map
  src/ci-tester.ts
Due: format, lint, bundle

Re-enable actual call to action and verification for tests.
  .github/workflows/ci.yml
Due: format

Fix variable name.
  .github/workflows/ci.yml
Due: format

Fix expected digests.
  tests/no_arguments/expected-digests
Due: none

Add more supported manifest types.
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: format, lint, bundle

Add test for include-tags option.
  .github/workflows/ci.yml
  tests/01_no_arguments/expected-digests
  tests/01_no_arguments/expected-tags
  tests/01_no_arguments/prime
  tests/01_no_arguments/prime-delete
  tests/02_include_tags/expected-digests
  tests/02_include_tags/expected-tags
  tests/02_include_tags/prime
  tests/02_include_tags/prime-delete
Due: format

Fix image digests.
  tests/02_include_tags/expected-digests
  tests/02_include_tags/prime
Due: none

Fix content type when uploading manifest.
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/main.ts
  src/registry.ts
Due: format, lint, bundle

Remove debug logging and obsolete code.
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/main.ts
  src/registry.ts
Due: format, lint, bundle

Add test case to check overlap between include and exclude tags.
  .github/workflows/ci.yml
  tests/03_include_exclude_tags/expected-digests
  tests/03_include_exclude_tags/expected-tags
  tests/03_include_exclude_tags/prime
  tests/03_include_exclude_tags/prime-delete
Due: format

Fix tag name.
  tests/03_include_tags_multi_arch/expected-tags
Due: none

Path conditions:
  format: any of: \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$
  lint: any of: \.(ts|mts|cts)$
  bundle: any of: \.(ts|mts|cts)$
